language: generic
matrix:
  include:
    - os: linux
      dist: trusty

    - os: linux
      dist: precise

    - os: osx
      osx_image: xcode7.3

    - os: osx
      osx_image: xcode8

    - os: osx
      osx_image: xcode8.3

    - os: osx
      osx_image: xcode9

    - os: osx
      osx_image: xcode9.1

    - os: osx
      osx_image: xcode9.2

    - os: osx
      osx_image: xcode9.3

before_install:
  - eval "${MATRIX_EVAL}"

install:
  - wget https://raw.githubusercontent.com/dhinakg/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh

script:
  - ./send.sh success $WEBHOOK_URL
  - ./send.sh failure $WEBHOOK_URL
  - ./send.sh error $WEBHOOK_URL
